.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Outfit", serif;
  font-weight: 400;
}

h2 {
  font-family: "Outfit", serif;
  font-weight: 400;
  font-size: 20px;
}

h3 {
  font-family: "Outfit", serif;
  font-weight: 200;
  font-size: 15px;
}

body {
  font-family: "Outfit", serif;
  font-weight: 100;
}

.page {
  background-color: #1a1a1a;
  color: white;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  overflow-y: auto;
}

.header {
  background-color: #1f1f1f;
  border-radius: 50px;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container-login {
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
}

.header-button {
  background-color: #1f1f1f;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Outfit", serif;
  font-size: 12px;
  font-weight: 100;
  margin: 4px 1px;
  cursor: pointer;
  border-radius: 5px;
}

.header-button-login {
  background-color: #caff33;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Outfit", serif;
  font-size: 12px;
  font-weight: 200;
  margin: 4px 1px;
  cursor: pointer;
  border-radius: 5px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 100px;
  width: 100px;
  margin-right: 0px;
  /* Adiciona um pouco de espaço entre o logotipo e o nome do site */
}

.color-green {
  color: #caff33;
}

.header-button:hover {
  font-family: "Outfit", serif;
  background-color: rgba(202, 255, 51, 0.5);
  /* verde quase transparente */
}

.header-button-login:hover {
  font-family: "Outfit", serif;
  background-color: #caff33;
  /* mantém a cor original */
}

.card-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.card {
  background-color: #2f2f2f;
  color: #fff;
  width: calc((100% / 3) - 40px);
  height: 180px;
  padding: 10px 5px 0 5px;
  /* Aumenta o padding-top e diminui o padding-bottom */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  background-image: radial-gradient(
      circle,
      rgba(202, 255, 51, 0.5) 1px,
      transparent 1px
    ),
    radial-gradient(circle, rgba(255, 255, 255, 0.3) 1px, transparent 1px),
    radial-gradient(circle, rgba(0, 0, 0, 0.7) 1px, transparent 1px);
  background-size: 20px 20px;
  animation: moveBackground1 10s linear infinite,
    moveBackground2 15s linear infinite, moveBackground3 20s linear infinite;
}

.inner-card-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px; /* Adicione alguma margem no topo para separar dos times */
}

.inner-card {
  background-color: #4f4f4f; /* Escolha uma cor de fundo */
  color: #fff;
  width: calc(
    (100% / 3) - 10px
  ); /* Divida o espaço disponível entre os três inner cards e subtraia um pouco para deixar espaço entre eles */
  padding: 5px;
  border-radius: 5px;
  text-align: center; /* Centraliza o texto */
  display: flex; /* Adiciona flexbox */
  justify-content: space-between; /* Espaça os itens igualmente */
}

.text-left {
  text-align: left; /* Alinha o texto à esquerda */
}

.text-right {
  text-align: right; /* Alinha o texto à direita */
  font-weight: 200;
  color: #caff33;
}

.time1 {
  margin-bottom: 5px;
  /* Reduz a margem inferior do "Time 1" */
}

.time2 {
  margin-top: 5px;
  /* Reduz a margem superior do "Time 2" */
}

@keyframes moveBackground1 {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }

  100% {
    background-position: 20px 20px, 0 0, 0 0;
  }
}

@keyframes moveBackground2 {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }

  100% {
    background-position: 0 0, -20px 10px, 0 0;
  }
}

@keyframes moveBackground3 {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }

  100% {
    background-position: 0 0, 0 0, 10px -15px;
  }
}

.main {
  display: flex;
  flex-direction: column;
}

.main-container {
  justify-content: space-between;
  flex-grow: 1;
  background-color: #2f2f2f;
  color: #fff;
  padding: 10px 5px 10px 5px;
  /* Aumenta o padding-top e diminui o padding-bottom */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.title {
  font-family: "Outfit", serif;
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  text-align: left;
}

.game-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.game {
  width: calc(50% - 10px);
  background-color: #fff;
  color: #000;
  padding: 10px 5px 0 5px;
  /* Aumenta o padding-top e diminui o padding-bottom */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  width: 50%;
  margin: 5px 0 5px 0;
  padding: 10px 5px 10px 5px;
}

.card-login {
  background-color: #2f2f2f;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  width: 500px;
  margin: 50px auto; /* Centraliza horizontalmente e adiciona margem superior/inferior */
  display: flex;
  flex-direction: column; /* Alinha os elementos internamente em coluna */
  align-items: center; /* Centraliza horizontalmente */
  justify-content: center;
  text-align: left;
}

/* Estilos para os inputs dentro do card de login */
.card-login input {
  margin-bottom: 10px;
  padding: 8px;
  width: 40%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Outfit", serif;
}

/* Estilos para o botão dentro do card de login */
.card-login button {
  background-color: #caff33;
  font-family: "Outfit", serif;
  color: #000;
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card-login a {
  color: #caff33;
  font-weight: 200;
}

.card-balance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  border: none;
  border-radius: 10px;
  background-color: #3f3f3f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 60%;
  max-width: 400px;
  margin: 20px auto;
}

.card-balance span {
  padding: 10px;
  font-size: 15px;
}

.card-balance button {
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #caff33;
  color: #000;
  cursor: pointer;
  font-family: "Outfit", serif;
}

.card-balance button:hover {
  background-color: #caff33;
}

.card-wallet {
  background-color: #2f2f2f;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  width: 80%;
  margin: 50px auto; /* Centraliza horizontalmente e adiciona margem superior/inferior */
  display: flex;
  flex-direction: column; /* Alinha os elementos internamente em coluna */
  align-items: center; /* Centraliza horizontalmente */
  justify-content: center;
  text-align: left;
}

.card-wallet .button-container {
  display: flex;
  justify-content: space-between; /* Posiciona os itens nas extremidades */
  width: 30%; /* Ocupar toda a largura do card-wallet é importante aqui */
  margin-top: 5px;
}

.card-wallet-balance {
  background-image: linear-gradient(
    45deg,
    #1d1d1d 0%,
    #272727 33%,
    #505050 66%,
    /* Adicionei um cinza médio para suavizar a transição */ #caff33 100%
  );

  color: #fff;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  width: 30%;
  margin: 10px auto; /* Centraliza horizontalmente e adiciona margem superior/inferior */
  display: flex;
  flex-direction: column; /* Alinha os elementos internamente em coluna */
  align-items: left; /* Centraliza horizontalmente */
  justify-content: center;
  text-align: left;
}

.card-wallet-bets {
  background-image: linear-gradient(
    45deg,
    #1d1d1d 0%,
    #272727 33%,
    #505050 66%,
    /* Adicionei um cinza médio para suavizar a transição */ #caff33 100%
  );

  color: #fff;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  width: 30%;
  margin: 10px auto; /* Centraliza horizontalmente e adiciona margem superior/inferior */
  display: flex;
  flex-direction: column; /* Alinha os elementos internamente em coluna */
  align-items: left; /* Centraliza horizontalmente */
  justify-content: center;
  text-align: left;
}

.card-wallet h1 {
  font-family: "Outfit", serif;
  font-size: 18px;
}

.card-wallet-button-deposit {
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #caff33;
  color: #000;
  cursor: pointer;
  font-family: "Outfit", serif;
}

.card-wallet-button-withdraw {
  width: 40%;
  padding: 10px;
  border: 2px solid #caff33;
  border-radius: 10px;
  background-color: #2f2f2f;
  color: #fff;
  cursor: pointer;
  font-family: "Outfit", serif;
}

.input-container {
  margin: 10px 0;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.input-group {
  display: flex;
  justify-content: space-between;
}

.input-item {
  flex: 1;
}

.input-item:not(:last-child) {
  margin-right: 10px;
}

.input-item input {
  width: 100%;
}

.card-wallet-button-confirm {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #caff33;
  color: #000;
  cursor: pointer;
  font-family: "Outfit", serif;
}

.card-wallet-button-confirm:hover {
  background-color: #caff55;
}

.card-bets {
  background-color: #2f2f2f;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  width: 90%;
  margin: 10px auto; /* Centraliza horizontalmente e adiciona margem superior/inferior */
  display: flex;
  flex-direction: column; /* Alinha os elementos internamente em coluna */
  align-items: center; /* Centraliza horizontalmente */
  justify-content: center;
  text-align: left;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  width: 100%;
}

.tabs button {
  background-color: inherit;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  font-family: "Outfit", serif;
  color: #caff33;
}

.tabs button:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #caff55;
  position: absolute;
  bottom: 0;
  left: 0;
}

.tabs button.active {
  font-weight: bold;
  border-bottom: 2px solid #caff55;
}

.container-bets {
  width: 100%;
}

.bet {
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  width: 100%; /* Ajustar a largura para ocupar mais espaço */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bet h3,
.bet p {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

.tab-content {
  width: 50%;
}

.bet-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.divisor {
  width: 100%;
  border: 1px solid #caff33;
  margin: 10px 0;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  color: white;
}

.icon-won {
  background-color: #28a745; /* Cor verde */
}

.icon-lost {
  background-color: #dc3545; /* Cor vermelha */
}

.footer {
  background-color: #1f1f1f;
  border-radius: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.footer-left,
.footer-center,
.footer-right {
  display: flex;
  align-items: center;
}

.footer-left {
  justify-content: flex-start;
}

.footer-center {
  justify-content: center;
  flex-grow: 1;
}

.footer-right {
  justify-content: flex-end;
}

.footer-button {
  background-color: #1f1f1f;
  border: none;
  color: white;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.footer-button:hover {
  background-color: rgba(202, 255, 51, 0.5);
}

.footer p {
  margin: 0;
  color: white;
  font-family: "Outfit", serif;
  font-size: 12px;
}

.footer-button .fa-instagram,
.footer-button .fa-facebook {
  font-size: 16px;
}
